.section-about {
    background-color: $colour-grey-light;
    padding: 25rem 0;
    /*
    We give it a negative margin to move it up so it
    marries with the shorter of the polygon created in 
    the header.
    */
    margin-top: -20vh;
}

.section-features {
    padding: 20rem 0;
    @include backgroundWithGradientAndImage("../img/nat-4.jpg");
    
    /*
    What is happening here?
    We are skewing the background by neg 7 degrees to get a similar we create
    in the main section above this one.

    Therefore to not have everything skew in this container we skew the direct children back to normal cancelling out the neg 7 by adding 7.
    */    
    transform: skewY(-7deg);
    margin-top: -8rem;
    /*
     > : the direct child selector
     https://developer.mozilla.org/en-US/docs/Web/CSS/Child_combinator

     this ensures that you ONLY select the DIRECT children. NOT ALL THE CHILDREN.

     Thus it will only apply on the div.row and not on the children
     of div.row.

     If we skewed everything by using '& *' then all the children would be skewed in the other direction by 7 degrees.
    */
    & > * {
        transform: skewY(7deg);
    }
}

.section-tours {
    background-color: $colour-grey-light;
    padding: 25rem 0 50rem 0;
    margin-top: -8rem;

}