/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* The universal selector */
* {
    margin: 0;
    padding: 0;
    /* 
    this ensures that the box borders and paddinare are 
    not added to the total width or height of the box.
     */
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    position: relative;
    height: 95vh;
    /* 
    here we have two background images.
    The first is this gradient which goes from left to right.
    Then we have the image.
     */
    background-image: linear-gradient(
        to right bottom,
        #7ed56fcc,
        #28b485cc
    ),
    url(../img/hero.jpg);
    /* 
    cover will ensure that the element within the viewport will
    always COVER the width. So when you alter the viewport width
    the width of header will also change.
     */
    background-size: cover;
    /* 
    when resizing the viewport, the image will crop along the bottom,
    staying in position along the top.
     */
    background-position: top;
    /* 
    NOTE: the first coordinate begins in the top left corner.
     */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
    position: absolute;
    /* 
    the top and bottom props of this element are relative to its parent element.
    In this case it is the header element.
     */
    top: 40px;
    left: 40px;
}

.logo {
    height: 35px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    /* 
    again, the top and left props are relative to parent header element.
    This will put the left side of the text box in the center, so to
    get the center to the text box to the center of the parent element
    we use transform to move 50% of the elements height to the top and left,
    thus positioning the text box in the center.
     */
    transform: translate(-50%, -50%);
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
}

.heading-primary-main {
    /* display is originally an inline element */
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
}
