/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* The universal selector */
* {
    margin: 0;
    padding: 0;
    /* 
    this ensures that the box borders and paddinare are 
    not added to the total width or height of the box.
     */
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    /* 
    here we have two background images.
    The first is this gradient which goes from left to right.
    Then we have the image.
     */
    background-image: linear-gradient(
        to right bottom,
        #7ed56fcc,
        #28b485cc
    ),
    url(../img/hero.jpg);
    /* 
    cover will ensure that the element within the viewport will
    always COVER the width. So when you alter the viewport width
    the width of header will also change.
     */
    background-size: cover;
    /* 
    when resizing the viewport, the image will crop along the bottom,
    staying in position along the top.
     */
    background-position: top;
    /* 
    NOTE: the first coordinate begins in the top left corner.
     */
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}