.card {
    /*
    perspective is a property that gives the
    element a 3d look and feel.
    */
    perspective: 150rem;
    -moz-perspective: 150rem;

    position: relative;

    /*
    when positioning things aboslutely they lose their height
    property, similar to what happens with floats.

    Without the height property the card loses its perspective.
    
    This is why we need to explicit the height property on parent
    as well as the child.
    */
    height: 50rem;
    
    &__side {
        background-color: orangered;
        color: white;
        font-size: 2rem;
        height: 50rem;
        transition: transform .8s ease;

        position: absolute;
        top: 0;
        left: 0;

        /*
        when you give items an aboslute position
        you will also need to specify the actual width
        you want them to have or else their width
        will naturally collapse.
        */
        width: 100%;

        /*
        this hides the back of the card when it is rotating.
        */
        backface-visibility: hidden;
        border-radius: 3px;
        box-shadow: 0 1.5px 4rem rgba($colour-black, .15);

        &--front {
            background-color: $colour-white;
        }

        &--back {
            transform: rotateY(180deg);
            
            &-1 {
                background-image: linear-gradient(to right bottom, $colour-secondary-light, $colour-secondary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }
}