.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }
    
    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($colour-white, .5);
        border: none;

        /*
        this is to stop the second input from moving
        when the first one is selected and 3px is added
        when it is focused
        */
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;

        &:focus {
            /*
            this is the line around the 
            input when it is selected.
            */
            outline: none;
            box-shadow: 0 1rem 2rem rgba($colour-black, .1);
            border-bottom: 3px solid $colour-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $colour-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $colour-grey-dark-2;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 1.7rem;
        display: block;
        transition: all .3s;
    }

    /*
    this is the sibling selector so we can style both
    elements when this event happens
    NB. the order matters. i.e. label must come after input
    in the html as it is below. 
    */
    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
}