.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($colour-black, .1);
    background-color: $colour-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    /*
    we give every other element the opposite skew so it looks
    straight.
    */
    transform: skewX(-12deg);
    
    &__shape {
        position: relative;
        width: 15rem;
        height: 15rem;
        background-color: orangered;
        float: left;
        /*
        the height is relative to the element. Thus
        50% in this case the circle is 7.5 rem at 7.5rem
        (horizontal center) and 7.5rem (vertical center)

        This property will only work if you have explicited
        both the element's width and height.
        */
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);

        /*
        to create spacing between floated elements, it's easier
        to use the transform property.
        */
        transform: translateX(-3rem) skewX(12deg);

        /*
        since the blur affects the img, you are able to see the effect
        on the shape that covers the image. This property will
        remove and effects on the __shape element.
        */
        overflow: hidden;
    }

    &__img {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all .5s;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $colour-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;

        /*
        this property can fix any vibrations that occur with
        trasitions.
        */
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
        
    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}
